.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 8%;
  background: #0f172a;
  position: sticky;
  top: 0;
}

.navbar h2 {
  color: white;
}

.navbar ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

.navbar a {
  color: white;
  text-decoration: none;
}